.cursor-main {
    position: fixed;
    top: 0;
    left: 0;
    width: 20px;
    height: 20px;
    background-color: var(--spider-red);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    box-shadow: 0 0 15px var(--neon-red);
    mix-blend-mode: exclusion;
}

.cursor-trail {
    position: fixed;
    top: 5px;
    /* Offset to center the smaller dots perfectly against the 20x20 main dot */
    left: 5px;
    width: 10px;
    height: 10px;
    background-color: var(--spider-blue);
    border-radius: 50%;
    pointer-events: none;
    z-index: 9998;
    box-shadow: 0 0 10px var(--neon-blue);
    opacity: 0.6;
}

.trail-2 {
    top: 7px;
    left: 7px;
    width: 6px;
    height: 6px;
    opacity: 0.4;
    background-color: var(--spider-web-white);
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.8);
}